<nav class="navbar">
  <div class="navbar-brand">
    <!-- 1. Enlace al Home, cierra el menú móvil si está abierto -->
    <a routerLink="/" (click)="closeMenu()">Mi Portafolio</a>
  </div>

  <!-- 2. Botón de Hamburguesa, llama a toggleMenu() -->
  <button class="hamburger-button" (click)="toggleMenu()">
    <span class="hamburger-icon"></span>
  </button>

  <!-- 3. Añade la clase 'active' si 'isMenuOpen()' es true -->
  <ul class="navbar-links" [class.active]="isMenuOpen()">
    <li>
      <!-- 4. Muestra el enlace "Proyectos" solo si está logueado -->
      @if (isLoggedIn()) {
      <a routerLink="/proyectos" class="login-button" (click)="closeMenu()">Proyectos</a>
      }
    </li>

    <!-- 5. Muestra "Logout" o "Login" basado en el estado de isLoggedIn() -->
    @if (isLoggedIn()) {
    <li>
      <button (click)="logout()" class="logout-button">Logout</button>
    </li>
    } @else {
    <li>
      <button (click)="login()" class="login-button">Login</button>
    </li>
    }
  </ul>
</nav>