/* :host se refiere al propio componente <app-root> */
:host {
  display: flex;                /* Usa Flexbox para el layout */
  flex-direction: column;       /* Apila header, main y footer verticalmente */
  min-height: 100vh;            /* Asegura que la app ocupe al menos toda la altura de la pantalla */
}

main {
  flex: 1;                      /* "Sticky Footer":
                                   Hace que 'main' crezca y ocupe todo el espacio vertical
                                   disponible, empujando el footer hacia abajo. */
}