/* Definimos nuestras variables de diseño globales.
  El doble guion (--) es la sintaxis de CSS para una variable.
*/
:root {
  /* Paleta de Colores */
  --color-primario: #007bff;
  --color-primario-hover: #0056b3;
  --color-fondo-oscuro: #333;
  --color-texto-claro: #ffffff;
  --color-texto-secundario: #aaa;
  --color-borde: #ddd;
  --color-peligro: #dc3545;       /* Un rojo estándar (Bootstrap "danger") */
  --color-peligro-hover: #c82333; /* Un rojo más oscuro para el hover */

  /* (Opcional) Tipografía */
  /* Usamos una pila de fuentes "limpias" que la mayoría 
     de los sistemas operativos tiene. */
  --font-principal: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
                    Helvetica, Arial, sans-serif, "Apple Color Emoji", 
                    "Segoe UI Emoji", "Segoe UI Symbol";
                  
}

/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: var(--font-principal); /* <-- AÑADE ESTO */
}